body {
  background-color: #e8f1f5;
}

a {
  color: #004a7c;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.bg-custom {
  background-color: #004a7c;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.resume {
  margin-right: 20px;
}

.jumbotron {
  margin-bottom: 0;
  padding: 100px 50px;
  background-color: #e8f1f5;
  text-align: center;
}

.list-group-item {
  line-height: 1.5em;
}
.img-thumbnail {
  border-radius: 100%;
  border: #000 2px solid;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
  border-bottom: #000 1px solid;
}

.card {
  margin-bottom: 35px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 550px;
}
.card-border {
  border: #000 1px solid;
}

.card-body {
  min-height: 300px;
  
}

.icons {
  height: 30px;
}

.skills-img {
  width: 64px;
  padding-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-text {
  padding-left: 50px;
  padding-right: 50px;
}

.contact-form-text {
  text-align: left;
}

footer {
  background-color: #005691;
  text-align: center;
  color: #fff;
  padding: 30px;
  margin-top: 0;
  margin-bottom: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

footer a {
  color: #fff;
}

.social-media-icons {
  width: 24px;
  margin: 0 5px 0 0;
}
